---
import Layout from "@/layouts/Layout.astro";
import { type GetStaticPaths } from "astro";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";

import blogFrameStyles from "../../styles/_blog_frame.scss";
import Tags from "@/components/Tags.astro";
import { Icon } from "astro-icon/components";

import Pre from "@/components/markdown/Pre.astro";
import Anchor from "@/components/markdown/Anchor.astro";
import Img from "@/components/markdown/Img.astro";
import { renderArticle } from "@/lib/articles";

export const getStaticPaths: GetStaticPaths = async () => {
	const articles = await getCollection("articles");

	return articles.map((entry) => ({
		params: { id: entry.slug },
	}));
};

const { id } = Astro.params;
const entry = await getEntry("articles", id as string)!;

const {
	preview,
	render: { Content },
} = await renderArticle(entry);

const components = {
	pre: Pre,
	a: Anchor,
	img: Img,
};
---

<Layout title={`${preview.title} | ocxide`} description={preview.description}>
  <link slot="head" rel="stylesheet" href={blogFrameStyles} />

  <main class="container mx-auto">
    <nav>
      <a class="link flex gap-1 items-center w-min pr-10" href="/articles">
        <Icon name="mdi:keyboard-backspace" />
        All
      </a>
    </nav>

    <article>
      <section class="blog-frame">
        <Content components={components} />
      </section>

      <footer>
        <Tags tags={entry.data.tags} />
      </footer>
    </article>
  </main>
</Layout>
