---
import Layout from "@/layouts/Layout.astro";
import { type GetStaticPaths } from "astro";
import { getEntry } from "astro:content";
import { getCollection } from "astro:content";

import blogFrameStyles from "../../styles/_blog_frame.scss";
import Tags from "@/components/Tags.astro";

import Pre from "@/components/markdown/Pre.astro";
import Anchor from "@/components/markdown/Anchor.astro";

export const getStaticPaths: GetStaticPaths = async () => {
	const articles = await getCollection("articles");

	return articles.map((entry) => ({
		params: { id: entry.slug },
	}));
};

const { id } = Astro.params;
const entry = await getEntry("articles", id as string)!;

const { Content } = await entry.render();

const components = {
	pre: Pre,
	a: Anchor,
};
---

<Layout title={`${entry.data.title} | ocxide`} description={entry.data.description}>
  <link slot="head" rel="stylesheet" href={blogFrameStyles} />

  <article class="container mx-auto">
    <section class="blog-frame">
      <Content components={components} />
    </section>

    <footer>
      <Tags tags={entry.data.tags} />
    </footer>
  </article>
</Layout>
