---
import { type ArticlePreview } from '@/lib/types';
import Tags from './Tags.astro';
import ArticleImage from './ArticleImage.astro';

interface Props {
	article: ArticlePreview,
}

const { article: post } = Astro.props;
---

<article class="relative grid grid-rows-[auto_auto_auto_1fr] group">
	<div class="w-full aspect-[2/1] overflow-hidden">
		{post.cover && <ArticleImage src={post.cover} alt={post.title} />}
	</div>

	<h4>{post.title}</h4>

	<footer class="flex gap-x-4 overflow-auto">
		<Tags tags={post.tags} />
	</footer>

	<a href={`/articles/${post.id}`} class="absolute inset-0 w-full h-full" />
</article>

